html {
  text-align: center;
  background: url("./backgr.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10%;
}
